@import "@/assets/scss/mixins/scrollbar.scss";

* {
  box-sizing: border-box;
  font-family: Roboto;
  user-select: none;
}

html {
  background: #121212;
  overflow: hidden;
}

input,
textarea {
  user-select: initial;
}

// scrollbar
@include scrollbar();