* {
  box-sizing: border-box;
  font-family: Roboto;
}

html {
  background: #121212;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: #272727;
}

::-webkit-scrollbar-thumb {
  background: #363636;
  border: solid 3px #272727;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
