// colors
$color-important: #ff9800;
$color-background: #121212;
$color-card: #1e1e1e;

// border
$border-main: 1px solid hsla(0,0%,100%,.12);

// opacity
$opacity-secondary: 0.3;

// breakpoints
$is-tablet: 950px;
$is-phone: 700px;
$is-phone-extra: 450px;
