.todo-caption {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;

  & > * {
    pointer-events: none;
  }

  &__item {
    display: inline-block;
    max-width: calc(33.3% - 8px);

    span {
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: calc(100% - 12px);
    }
  }
}
