@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins/scrollbar.scss";

.base-dialog {
  &__dialog {
    max-height: none !important;

    // scrollbar
    @include scrollbar(#1e1e1e);
  }

  &__card {
    border-bottom: none !important;
    padding-bottom: env(safe-area-inset-bottom);
  }

  &__dialog--with-title &__scroll {
    max-height: calc(70vh - env(safe-area-inset-bottom));
  }

  &__scroll {
    overflow-y: auto;
    max-height: calc(100vh - 85px);
  }

  @media screen and (max-width: $is-phone-extra) {
    &__card {
      border-top: 1px solid hsla(0,0%,100%,.12) !important;
      border-radius: 0 !important;
    }
  }
}
