@import "@/assets/scss/variables.scss";

.main-layout {
  &__wrapper {
    padding: env(safe-area-inset-top) env(safe-area-inset-right)
      env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: 100vh;
  }

  /deep/ .scroll-x-transition-enter-active,
  .scroll-x-transition-leave-active {
    transition-duration: 150ms !important;
  }

  &__content {
    height: 100%;
    max-height: 100%;
  }

  @media screen and (max-width: $is-mobile) {
    &__content {
      max-height: calc(100% - 56px);
    }
  }
}
