@import "@/assets/scss/variables.scss";
@import "@/assets/scss/mixins/scrollbar.scss";

.todo-card {
  &--checked {
    opacity: $opacity-secondary;
  }

  &__checkbox {
    padding: 0 6px;

    /deep/ .v-input--selection-controls__input {
      margin: 0;
    }
  }

  &__title {
    flex: 1;
  }

  &__title-text {
    cursor: text;
    min-height: 40px;
    display: flex;
    align-items: center;
  }

  &__title-input {
    /deep/ fieldset {
      border-color: transparent;
    }
  }

  &__caption {
    vertical-align: middle;

    & > * {
      pointer-events: none;
    }

    div {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
    }

    &--folder {
      max-width: calc(50% - 24px);
      width: 100%;
      flex: 1;
    }

    &--due-date {
      max-width: calc(50% - 24px);
      width: 100%;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: calc(100% - 16px);
    }
  }

  &__body {
    /deep/ textarea {
      margin: 0 !important;
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

  &__remove-step {
    display: none;
    margin: 0 1px 0 4px;
  }

  &__step:hover &__remove-step {
    display: block;
  }

  &__step {
    padding: 0 0 0 10px;

    &--checked {
      opacity: $opacity-secondary;
    }

    /deep/ .v-input--selection-controls__input {
      margin-right: 0
    }

    /deep/ .v-text-field__slot input {
      padding: 0 !important;
    }

    /deep/ .v-input__slot {
      padding-right: 0 !important;
      background: none !important;
    }
  }

  &__add-step {
    /deep/ .v-input__prepend-inner {
      padding: 0 !important;
      margin-right: 11px !important;
    }
  }

  // scrollbar
  @include scrollbar(#1e1e1e);
}
