@import "@/assets/scss/variables.scss";

.todo-card {
  &--checked {
    opacity: $opacity-secondary;
  }

  &__checkbox {
    padding: 0 6px;

    /deep/ .v-input--selection-controls__input {
      margin: 0;
    }
  }

  &__title-input {
    /deep/ fieldset {
      border-color: transparent;
    }
  }

  &__caption {
    vertical-align: middle;

    div {
      display: inline-block;
      vertical-align: top;
      white-space: nowrap;
    }

    &--folder {
      max-width: calc(50% - 24px);
      width: 100%;
    }

    &--due-date {
      max-width: calc(50% - 24px);
      width: 100%;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: calc(100% - 16px);
    }
  }
}
