@import "@/assets/scss/variables.scss";

.todo-card {
  &--checked {
    opacity: $opacity-secondary;
  }

  /deep/ .v-swipeout-content {
    background: #121212;
  }

  /deep/ .v-swipeout-actions {
    border-radius: 4px;
  }

  &__checkbox {
    padding: 0 6px;

    /deep/ .v-input--selection-controls__input {
      margin: 0;
    }
  }

  &__title-input {
    /deep/ fieldset {
      border-color: transparent;
    }
  }

  &__folder-title {
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__caption {
    span {
      max-width: calc(33% - 8px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: inline-block;
      vertical-align: middle;
    }
  }
}
