.main-page {
  &__content {
    height: 100vh;
  }

  &__scroll {
    overflow: auto;
    height: 100%;
    flex: 1;
  }

  @media screen and (max-width: 960px) {
    &__row {
      display: block;
    }

    &__col {
      max-width: 100%;
      width: 100%;
    }
  }
}
