@import "@/assets/scss/variables.scss";

.main-page {
  height: 100%;
  
  &__wrapper {
    height: 100%;
  }

  &__scroll {
    overflow: auto;
    height: 100%;
    flex: 1;
  }

  @media screen and (max-width: $is-tablet) {
    &__row {
      display: block;
    }

    &__col {
      max-width: 100%;
      width: 100%;
    }
  }
}
