@import "@/assets/scss/variables.scss";

.todo-steps {
  &__list {
    max-height: 216px;
    overflow-y: auto;
  }

  &__step:hover &__handle,
  &__slick-item--dragging &__handle {
    display: block;
  }

  &__slick-item {
    margin-bottom: 4px;

    &--dragging {
      pointer-events: all !important;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__step {
    padding: 0 8px;
    background: $color-card !important;
    display: flex;
    align-items: center;
    position: relative;

    &--checked {
      opacity: $opacity-secondary;
    }

    /deep/ .v-input--selection-controls__input {
      margin-right: 0;
    }

    /deep/ .v-text-field__slot input {
      padding: 0 !important;
    }

    /deep/ .v-input__slot {
      padding-right: 0 !important;
      background: none !important;
    }
  }

  &__handle {
    display: none;
    width: 24px !important;
    height: 24px !important;
    margin-left: 8px;

    &--drag {
      cursor: grab;
    }
  }

  &__add-step {
    /deep/ .v-input__prepend-inner {
      padding: 0 !important;
      margin-right: 11px !important;
    }

    /deep/ .v-input__slot {
      background: none !important;
    }
  }
}
