.swipeout {
  overflow: hidden;
  z-index: 0;

  &__container {
    border-radius: 0 !important;
  }

  &__action {
    height: 100% !important;
    width: 80px;

    /deep/ .v-btn__content {
      display: flex;
      flex-direction: column;
      text-transform: initial;
      width: 100%;
    }
  }
}
