.swipeout {
  &__action {
    height: 100% !important;
    width: 80px;

    &--left {
      margin-right: 8px;
    }

    &--right {
      margin-left: 8px;
    }

    /deep/ .v-btn__content {
      display: flex;
      flex-direction: column;
      text-transform: initial;
      width: 100%;
    }
  }
}
