@import "@/assets/scss/variables.scss";

.search-todo-card {
  &--checked {
    opacity: $opacity-secondary;
  }

  &__important-indicator {
    background: $color-important;
    width: 4px;
    border-radius: 2px;
    height: 38px;
    margin: 0 2px;
  }

  &__title {
    display: block;
    flex: 1;

    span {
      vertical-align: middle;
    }
  }

  &__title,
  &__description,
  &__step-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
