@import "@/assets/scss/variables.scss";

.search-todo-card {
  &--checked {
    opacity: $opacity-secondary;
  }

  &--important &__card {
    &::after {
      border-color: $color-important;
    }
  }

  &__card {
    &::after {
      content: "";
      position: absolute;
      left: -1px;
      top: -1px;
      width: calc(100% + 2px);
      height: calc(100% + 2px);
      pointer-events: none;
      border: 2px solid transparent;
      transition: border-color 0.2s cubic-bezier(0.4, 0, 0.6, 1);
      border-radius: 4px;
    }
  }

  &__title {
    display: block;

    span {
      vertical-align: middle;
    }
  }

  &__title,
  &__description,
  &__step-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
