@import "@/assets/scss/variables.scss";

.todo-list {
  padding: 48px 0;

  &__heading {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media screen and (max-width: $is-tablet) {
    padding: 0;
  }

  @media screen and (max-width: $is-mobile-extra) {
    &__heading {
      font-size: 24px;
    }
  }
}
