.todo-list {
  &__title {
    margin-top: 48px;
  }

  @media screen and (max-width: 1250px) {
    &__list {
      flex-flow: column;
      flex-wrap: initial !important;
    }

    &__item {
      max-width: none !important;
    }

    &__title {
      margin-top: 16px;
    }
  }
}
