.sidebar {
  &__drawer{
    background: #121212 !important;
  }

  &__menu-button {
    padding: 10px 0 10px 10px;
  }

  &__content {
    height: 100vh;
  }

  &__scroll {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }
}