.sidebar {
  &--fullscreen &__drawer {
    position: initial !important;
    max-height: calc(100vh - 56px) !important;
    width: 100% !important;
  }

  &__drawer {
    background: #121212 !important;
  }

  &__menu-button {
    padding: 10px 0 0 10px;
  }

  &__content {
    height: 100%;
  }

  &__scroll {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__search {
    /deep/ .v-input__slot {
      padding: 0 8px !important;
    }

    /deep/ .v-input__prepend-inner {
      padding: 0 !important;
      margin-right: 0 !important;
    }
  }
}
