.sidebar {
  &--expanded {
    &__search {
      /deep/ .v-input__prepend-inner {
        margin-right: 16px !important;
      }
    }
  }

  &__drawer {
    background: #121212 !important;
  }

  &__menu-button {
    padding: 10px 0 10px 10px;
  }

  &__content {
    height: 100vh;
  }

  &__scroll {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__search {
    /deep/ .v-input__slot {
      padding: 0 8px !important;
    }

    /deep/ .v-input__prepend-inner {
      padding: 0 !important;
      margin-right: 0 !important;
    }
  }
}
